@import "base/variables";
*,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	box-sizing: border-box;
	font-family: Oswald;
	font-style: normal;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}
.header {
	background: url(../img/Rectangle.jpg) center (center/cover) no-repeat;
	padding-top: 20px;
	padding-bottom: 58px;
	min-height: 948px;
	position: relative;
}
.tab {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
}
.hamburger {
	border-radius: 2px;
	width: 50px;
	height: 50px;
	background-color: $accent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	span {
		display: block;
		height: 3px;
		width: 20px;
		background-color: #fff;
		margin-bottom: 4px;
		transition: 0.5s all;
	}
	&_active {
		span {
			margin-bottom: -2px;
			&:nth-child(1) {
				transform: translateY(3px) rotate(-45deg);
			}
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: translateY(3px) rotate(45deg);
			}
		}
	}
}
.logo-title {
	margin-top: 112px;
	text-align: center;
	color: $white;

	font-size: 64px;
	line-height: 95px;
	text-transform: uppercase;
}
.logo-subtitle {
	margin-top: 35px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: $white;
}

.numbers {
	width: 1110px;
	height: 300px;
	background: $white;
	position: absolute;
	bottom: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	&__box {
		margin-left: 75px;
		margin-right: 75px;
	}
}

.numbers__title {
	font-weight: 500;
	font-size: 72px;
	text-align: center;
	text-transform: uppercase;
	color: $accent;
}
.numbers__subtitle {
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: $dark;
}

.numbers__descr {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: $gray;
}

.project {
	background-color: $white;
	padding-top: 56px;
	padding-bottom: 125px;
}

.title {
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	&__white {
		color: $white;
	}
}

.project-arena {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	img {
		height: 380px;
		width: 350px;
		object-fit: cover;
	}
	&__item {
		margin-top: 60px;
		margin-right: 8px;
		margin-left: 8px;
		&__title {
			margin-top: 66px;
			font-size: 24px;
			line-height: 36px;
			color: $dark;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				height: 6px;
				width: 55px;
				background-color: $accent;
				left: 0;
				top: -20px;
			}
		}

		&__descr {
			margin-top: 20px;
			font-size: 16px;
			line-height: 22px;
			color: $gray;
			width: 350px;
			height: 83px;
		}
	}
}
.request {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: $accent;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		div {
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		font-size: 48px;
		line-height: 71px;
		color: $white;
	}
	&__subtitle {
		font-size: 24px;
		line-height: 36px;
		color: $white;
		margin-top: 20px;
	}
	&__button {
		cursor: pointer;
		width: 175px;
		height: 49px;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 2px;
		img {
			margin-right: 15px;
		}
	}
}

.services {
	padding-top: 150px;
	padding-bottom: 150px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__title {
		font-size: 21px;
		line-height: 31px;
		margin-top: 30px;
	}
	&__item {
		margin-bottom: 30px;
		height: 250px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		background-color: $bgcolor;
		img {
			width: 60px;
			height: 40px;
		}
	}
}

.portfolio {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	&__item {
		height: 407px;
		width: 480px;
	}
	img {
		display: block;
	}
}

.questions {
	padding: 150px 0 150px;
}
button {
	background-color: transparent;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	display: flex;
	align-items: center;
	color: $accent;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-top: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active,
// .accordion:hover {
// 	background-color: #ccc;
// }

/* Style the accordion panel. Note: hidden by default */
.panel {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	max-height: 0;
	overflow: hidden;
	color: $gray;
	transition: max-height 0.6s ease-out;
}

.accordion:before {
	content: url(../img/Polygon.png);
	margin-right: 10px;
}

.active:before {
	content: url(../img/Polygon2.png);
}
.partners {
	padding: 100px 0 100px;
	background-color: $dark;
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__photo {
		margin-right: 32px;
		margin-left: 32px;
	}
}

.reviews {
	padding: 150px 0 150px;
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		width: 350px;
		background-color: $bgcolor;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		padding: 80px 30px 38px 30px;
		color: $gray;
		position: relative;
		&::before {
			content: url(../img/“.png);
			position: absolute;
			top: 30px;
		}
	}
	&__descr {
		font-family: Oswald;
		font-style: normal;
		font-weight: 500;
		font-size: 21px;
		line-height: 31px;
		color: $black;
		span {
			color: $accent;
		}
	}
}

.contacts {
	padding: 100px 0 150px;
	text-align: center;
	&__title {
		font-family: Oswald;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: $black;
	}
	&__icon {
		margin-bottom: 27px;
		&__descr {
			font-family: Oswald;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			color: $gray;
			margin-bottom: 25px;
		}
	}
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
	}
}

.footer {
	background-color: $dark;
	padding: 30px 0 30px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__copyrates {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: $white;
	}
	&__company {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: $white;
	}
}
