@charset "UTF-8";
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oswald;
  font-style: normal;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: url(../img/Rectangle.jpg) center center/cover no-repeat;
  padding-top: 20px;
  padding-bottom: 58px;
  min-height: 948px;
  position: relative;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hamburger {
  border-radius: 2px;
  width: 50px;
  height: 50px;
  background-color: #f7654a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 20px;
  background-color: #fff;
  margin-bottom: 4px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.hamburger_active span {
  margin-bottom: -2px;
}

.hamburger_active span:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
  display: none;
}

.hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.logo-title {
  margin-top: 112px;
  text-align: center;
  color: #ffffff;
  font-size: 64px;
  line-height: 95px;
  text-transform: uppercase;
}

.logo-subtitle {
  margin-top: 35px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.numbers {
  width: 1110px;
  height: 300px;
  background: #ffffff;
  position: absolute;
  bottom: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers__box {
  margin-left: 75px;
  margin-right: 75px;
}

.numbers__title {
  font-weight: 500;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #f7654a;
}

.numbers__subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #404149;
}

.numbers__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999999;
}

.project {
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 125px;
}

.title {
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}

.title__white {
  color: #ffffff;
}

.project-arena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-arena img {
  height: 380px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-arena__item {
  margin-top: 60px;
  margin-right: 8px;
  margin-left: 8px;
}

.project-arena__item__title {
  margin-top: 66px;
  font-size: 24px;
  line-height: 36px;
  color: #404149;
  position: relative;
}

.project-arena__item__title::before {
  content: "";
  display: block;
  position: absolute;
  height: 6px;
  width: 55px;
  background-color: #f7654a;
  left: 0;
  top: -20px;
}

.project-arena__item__descr {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  width: 350px;
  height: 83px;
}

.request {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #f7654a;
}

.request__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request__title {
  font-size: 48px;
  line-height: 71px;
  color: #ffffff;
}

.request__subtitle {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 20px;
}

.request__button {
  cursor: pointer;
  width: 175px;
  height: 49px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 2px;
}

.request__button img {
  margin-right: 15px;
}

.services {
  padding-top: 150px;
  padding-bottom: 150px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__title {
  font-size: 21px;
  line-height: 31px;
  margin-top: 30px;
}

.services__item {
  margin-bottom: 30px;
  height: 250px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.services__item img {
  width: 60px;
  height: 40px;
}

.portfolio {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item {
  height: 407px;
  width: 480px;
}

.portfolio img {
  display: block;
}

.questions {
  padding: 150px 0 150px;
}

button {
  background-color: transparent;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f7654a;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  max-height: 0;
  overflow: hidden;
  color: #999999;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

.accordion:before {
  content: url(../img/Polygon.png);
  margin-right: 10px;
}

.active:before {
  content: url(../img/Polygon2.png);
}

.partners {
  padding: 100px 0 100px;
  background-color: #404149;
}

.partners__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__photo {
  margin-right: 32px;
  margin-left: 32px;
}

.reviews {
  padding: 150px 0 150px;
}

.reviews__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__text {
  width: 350px;
  background-color: #f7f7f7;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 80px 30px 38px 30px;
  color: #999999;
  position: relative;
}

.reviews__text::before {
  content: url(../img/“.png);
  position: absolute;
  top: 30px;
}

.reviews__descr {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  color: #000000;
}

.reviews__descr span {
  color: #f7654a;
}

.contacts {
  padding: 100px 0 150px;
  text-align: center;
}

.contacts__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.contacts__icon {
  margin-bottom: 27px;
}

.contacts__icon__descr {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #999999;
  margin-bottom: 25px;
}

.contacts__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #404149;
  padding: 30px 0 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyrates {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer__company {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */